@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-source: "Fustat", serif;

  --color-jila-400: rgba(126, 6, 1);
  --color-jila-300: rgba(212, 146, 143);

  --shadow-jila-10: rgba(109, 15, 0, 0.1);

  --color-orange-400: rgba(232, 150, 91);
  --color-orange-300: rgba(243, 202, 173);
  --color-yellow-400: rgba(239, 191, 106);
  --color-cream-300: rgba(255, 251, 243);

  --color-green-400: rgba(144, 190, 109);
  --color-green-300: rgba(205, 230, 185);
  --color-teal-400: rgba(87, 117, 144);
  --color-teal-300: rgba(189, 208, 226);
  --color-error-400: rgba(227, 31, 31);
  --color-error-300: rgba(255, 148, 148);
  --color-error-200: rgba(251, 207, 207);

  --color-type-400: rgba(54, 24, 24);
  --color-white-400: rgba(255, 255, 255);
  --color-gray-400: rgba(83, 83, 83);
  --color-gray-300: rgba(205, 205, 205);
  --color-gray-200: rgba(232, 232, 232);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  .page-title-text {
    @apply font-source text-7xl font-bold leading-none;
  }

  .components-text {
    @apply font-source text-lg font-bold leading-none;
  }

  .link-text {
    @apply font-source text-lg font-bold leading-none;
  }

  .body1-desktop-semi-text {
    @apply font-source text-2xl font-semibold leading-none;
  }

  .body1-desktop-bold-text {
    @apply font-source text-2xl font-bold leading-none;
  }

  .body1-desktop-text {
    @apply font-source text-2xl font-normal leading-none;
  }
}
